<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Notes App</title>
</head>
<body>

  <h1>Notes App</h1>

  <form action="createNote" method="post">
    <input type="text" name="title" placeholder="Title"><br/>
    <textarea name="content" placeholder="Content"></textarea><br/>
    <button type="submit">Create</button>
  </form>

  <ul>
    <% for (let i = 0; i < notes.length; i++) { %>
      <li>
        <h2><%= notes[i].title %></h2>
        <p><%= notes[i].contents %></p>
        <form action="/deleteNote" method="post">
          <input type="hidden" name="id" value="<%= notes[i].id %>">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% } %>
  </ul>
  
</body>
</html>